# Environment / Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node / React
node_modules/
dist/
build/
.vite/

# Logs
*.log
logs/

# Database local files
*.db
*.sqlite
*.sqlite3

# Backup
*.bak
*.backup
*.tar
*.tar.gz
*.zip
*.7z

# SSH / Key
*.pem
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
